/* Quirksmode Needed for Google Maps */
html {height: 100%;}
body {height: 100%;margin: 0;padding: 0;}
#map_canvas {height: 100%;}

/* Neatification */
body {
	background: url(../images/bg.png) top left repeat;
	font-family: Garamond, serif;
	color: #666666;
}

header, nav, footer, article {
	margin-left: 1em;
}

div#wrapper {
	width: 300px;
}

h1 {
	margin-top: 1em;
	font-size: 1.6em;
}
nav {
	margin-left: 1em;
}
nav ul {
	margin: 0px;
	padding: 0px;
	margin-top: 1em;
	list-style: none;
}
nav ul li {
	margin-top: .4em;
}
nav ul a {
	background: lime;
	color: #666666;
	text-decoration: none;
}
nav ul a:hover {
	background: orange;
}

article p {
	margin: 0px;
	padding: 0px;
}

article table {
	border: 1px solid #c2c2c2;
}

article table th {
	text-align: left;
}
article table td {
	vertical-align: top;
}
article table tr {
	border-bottom: 1px solid #666666;
}

footer {
	margin-top: 1em;
}

footer p {
	font-size: .9em;
}